In [ ]:
a=10

In [ ]:
a='c'

In [ ]:
type(a)

str

In [ ]:
print('Hello World')

Hello World

In [ ]:
print(123)

123

In [ ]:
age=32
print('My age is: ',age)

My age is:  32

In [ ]:
print(f"My age is: {age}")

My age is: 32

In [ ]:
Name="Bappy"
Age=32
print("My name is {} and age is {}".format(Name,Age))

My name is Bappy and age is 32

In [ ]:
print("My name is {firstname} and age is {finalage}".format(firstname=Name,finalage=Age))

My name is Bappy and age is 32

In [ ]:
name="Bappy"
age=32
degree="BE"

In [ ]:
print("My age is {} and i have completed: my degree of {} with the name of {}".format(age,degree,name))

My age is 32 and i have completed: my degree of BE with the name of Bappy

In [ ]:
print("My age is {age} and i have completed: my degree of {degree} with the name of {name}".format(age=age,degree=degree,name=name))

My age is 32 and i have completed: my degree of BE with the name of Bappy

In [ ]:
## Control Flow
## Decision Making statements: if, if else, if elif else, Nested if, single statement suites.

In [ ]:
# if statement
age=18
if age>=18:
  print("You are eligible to vote")

You are eligible to vote

In [ ]:
# if statement
age=19
if age<=18:
  print("You are not eligible to vote")

In [ ]:
age=int(input("Write your age"))
if age>=18:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

Write your age10
You are not eligible to vote

In [1]:
name=str(input())
print(name)

bappy
bappy

In [4]:
age=int(input("Enter your age"))
if age>=18 and age<=50:
  print("You are Young Blood")
else:
  print("you are not young Blood")

Enter your age60
you are not young Blood

In [6]:
product_price=int(input("Enter your product price"))
if product_price>1000:
  print("The price of the product is {}".format(product_price-(product_price*0.2)))
else:
  print("The price of the product is {}".format(product_price*0.7))

Enter your product price5000
The price of the product is 4000.0

In [ ]:
product_price=int(input("Enter your product price"))
if product_price>1000:
  print(f"The price of the product is {product_price*0.8}")
else:
  print(f"The price of the product is {product_price*0.7}")

In [ ]:
product_price= int(input ("Enter your product price"))
if product_price>3000:
  print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=300:
  print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<=2000:
  print(f"The price of the product is {product_price*0.6}")
else:
  print("let`s drink tea")

In [32]:
product_price= int(input ("Enter your product price"))
if product_price>3000:
  print(f"The price of the product is {product_price*0.8}")
elif product_price>=2000 and product_price<=3000:
  if product_price==2999:
    print("Cogratulation you are now eligible for additional gift")
  print(f"The price of the product is {product_price*0.7}")
elif product_price>=100 and product_price<2000:
  print(f"The price of the product is {product_price*0.6}")
else:
  print("let`s drink tea")

Enter your product price2000
The price of the product is 1400.0